.cards {
        display: flex;
        margin: auto;
        margin-top: 2rem;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        align-self: stretch;
}
a{
        text-decoration: none;
}